---
import ProjectsSection from "@src/components/ProjectsSection.astro";
import MainLayout from "@src/layouts/MainLayout.astro";
---

<MainLayout>
    <div class="pt-8 lg:pt-16">
        <ProjectsSection />
    </div>
</MainLayout>