---
export interface BackToTopType {
  title: string;
}

const backToTopData: BackToTopType = {
  title: "Back to Top",
};
---

<button
  id="back-to-top"
  class="fixed bottom-6 end-6 bg-cyber-dark/70 border border-cyber-blue font-bold size-12 flex items-center justify-center rounded-full opacity-0 invisible transition-all duration-300 z-50"
  style="display: none;"
  title={backToTopData.title}
>
  <svg
    class="size-6 mx-auto"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M5 10l7-7m0 0l7 7m-7-7v18"
    ></path>
  </svg>
</button>